{% load static %}

<footer id="footer" class="footer position-relative light-background">
  <div class="container">
    <h3 class="sitename">Uri Tal-Shamir</h3>
    <p>
      Aspiring full-stack developer currently focusing on web development and
      cloud technologies. Building my skills through hands-on projects...
    </p>
    <div class="social-links d-flex justify-content-center">
      <!-- <a href=""><i class="bi bi-twitter-x"></i></a> -->
      <a
        href="https://www.facebook.com/uri.shamir1"
        target="_blank"
        rel="noopener noreferrer"
        ><i class="bi bi-facebook"></i
      ></a>
      <a
        href="https://github.com/middlebear78"
        target="_blank"
        rel="noopener noreferrer"
        ><i class="bi bi-github"></i
      ></a>
      <a
        href="https://www.linkedin.com/in/uri-shamir/"
        target="_blank"
        rel="noopener noreferrer"
        ><i class="bi bi-linkedin"></i
      ></a>
    </div>
    <div class="container">
      <div class="copyright">
        <span>Copyright</span> <strong class="px-1 sitename">Uri Shamir</strong>
        <span>All Rights Reserved</span>
      </div>
      <div class="credits">
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>
    </div>
  </div>
</footer>
