{% extends 'index.html' %} 
{% load static %} 
{% block title %}Portfolio Details{% endblock title %}
{% block body_class %}portfolio-details-page{% endblock %}
{% block content %}

<!-- Page Title -->
<div class="page-title" data-aos="fade">
    <div class="container">
        <nav class="breadcrumbs">
            <ol>
                <li><a href="{% url 'home' %}">Home</a></li>
                <li class="current">Portfolio Details</li>
            </ol>
        </nav>
        <h1>Portfolio Details</h1>
    </div>
</div>

<!-- Portfolio Details Section -->
<section id="portfolio-details" class="portfolio-details">
    <div class="container" data-aos="fade-up">
        <div class="portfolio-details-slider swiper">
            <div class="swiper-wrapper align-items-center">
                {% for image in project.images.all %}
                <div class="swiper-slide">
                    <img src="{{ image.image.url }}" alt="">
                </div>
                {% endfor %}
            </div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
            <div class="swiper-pagination"></div>
        </div>

        <div class="row justify-content-between gy-4">
            <div class="col-lg-8">
                <div class="portfolio-description">
                    <h2>{{ project.title }}</h2>
                    <p>{{ project.description }}</p>
                </div>
            </div>

            <div class="col-lg-3">
                <div class="portfolio-info">
                    <h3>Project information</h3>
                    <ul>
                        <li>
                            <strong>Category</strong>
                            <div class="mt-2">
                                {% for tag in project.tags.all %}
                                <span class="badge bg-light-subtle text-secondary me-1 mb-1" style="font-size: 12px; padding: 6px 12px; border-radius: 20px; border: 1px solid #dee2e6;">{{ tag.name }}</span>
                                {% endfor %}
                            </div>
                        </li>
                        <li><strong>Project Link</strong> <a href="{{ project.link }}">www.example.com</a></li>
                        <li><a href="#" class="btn-visit align-self-start">Visit Website</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}